.newspaper__title {
  font-family: 'IBM Plex Serif', serif;
  text-align: center;
}

.article {
  font-family: 'IBM Plex Serif', serif;
}

.article__title {
  font-family: 'Tenor Sans', sans-serif;
}
